<div class="header">
  <div class="container top-header">
      <div class="row">
          <div class="col-md-3">
              <div class="brand">
                  <h3>Power</h3>
                  <p>Let's Buy Electronic things</p>
              </div>
          </div>
          <div class="col-md-9">
              <div class="search">
                  <form class="form-inline my-2 my-lg-9">
                      <input class="form-control mr-sm-2" type="search" placeholder="What are you looking for?" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
