<div class="header">
  <div class="container top-header">
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="brand">
                <img src="https://cdn2.iconfinder.com/data/icons/electricity-colored-outline/64/b_1-512.png">
                <div class="info">
                  <h3>Power</h3>
                  <p>Let's Buy Electronic things</p>
                </div>
              </div>
          </div>
          <div class="col-md-8 col-sm-6">
              <div class="search">
                  <form class="form-inline my-2 my-lg-9">
                      <input class="form-control mr-sm-2" type="search" placeholder="What are you looking for?" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
