@import "~src/assets/custom/_variables";
.header {
  background-color: $mainColor;
  color: #fff;
  padding: 15px 30px;
  .top-header {
    max-width: 1300px;
    .brand {
      display: flex;
      @media screen and (max-width: $xs) {
        justify-content: center;
      }
      img {
        max-width: 80px;
      }
      .info {
        margin-top: 8px;
      }
    }
  }
  h3 {
    color: $fontColor;
    margin: 0;
  }
  p {
    font-size: 13px;
  }
  .search {
    margin-top: 20px;
    form {
      position: relative;
      input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
      }
      button {
        border-radius: 0;
        background-color: $fontColor;
        border-color: $fontColor;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (max-width: $xs) {
          bottom: -8px;
        }
        svg {
          color: #fff;
        }
      }
    }
  }
}
