@import "~src/assets/custom/_variables";
.slider {
  position: relative;
  background: #2c3e50;
  background-image: url('/./assets/images/slider.jpg');
  background-size: cover;
  height: 70vh;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(64, 52, 52, .5);
    min-height: 100%;
    z-index: 1;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    h1 {
      font-size: 45px;
      @media screen and (max-width: $sm) {
        font-size: 32px;
      }
      @media screen and (max-width: $xs) {
        font-size: 28px;
      }
      margin: 0;
      span {
        color: $fontColor;
      }
    }
    p {
      color: #dedcdc;
      margin: 6px 0 12px;
    }
    button {
      background-color: $fontColor;
      color: #fff;
      border: none;
    }
  }
}
