<div class="profile">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="image">
        <img [src]="dataProfile.Image" width="80" height="80" alt="">
        </div>
        <div class="info">
        <h5 class="card-title">{{dataProfile.Name}}</h5>
        <p class="card-text">Email: {{dataProfile.Email}}</p>
      </div>
      </div>
      <div class="controls">
        <button class="btn btn-primary" data-toggle="modal" data-target="#updatePrfileModal">Update Profile</button>
        <button class="btn btn-info" data-toggle="modal" data-target="#addProductModal">Add Product</button>
      </div>
    </div>
    <div class="user-products">
      <h2 class="text-center">My Products</h2>
      <div class="products">
        <div class="row">
            <ng-container *ngFor="let pro of allProducts">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngIf="pro.userID == dataProfile.uid"> 
                  <div class="product">
                    <div class="card">
                      <a [routerLink]="['/product', pro.Name, pro.proID]">
                        <div class="card-image">
                          <img [src]="pro.Image" alt="product image">
                        </div>
                      </a>
                      <div class="content">
                        <ng-container *ngFor="let cat of allCategories">
                          <span class="catgeory-name" *ngIf="pro.catID == cat.catID">{{cat.Name}}</span>
                        </ng-container>
                        <h5 class="product-name">{{pro.Name}}</h5>
                        <p class='price'>{{pro.Price}}</p>
                        <button class="btn btn-primary" (click)="selectProduct(pro.proID)" data-toggle="modal" data-target="#updateProductModal">Update</button>
                        <button class="btn btn-danger" (click)=deleteProduct(pro.proID)>Delete</button>
                      </div>
                    </div>
                  </div>
              </div>
            </ng-container>
        </div>
    </div>
    </div>
  </div>
</div>

<!-- Update Profile Info Modal -->

<div class="modal fade" id="updatePrfileModal" tabindex="-1" aria-labelledby="updatePrfileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePrfileModalLabel">Update Profile Info</h5>
        <button type="button" class="close" #closeButton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" class="form-control" name="Name" #Name="ngModel" [(ngModel)]="dataProfile.Name" placeholder="Name" required>
          <p class="alert alert-danger" *ngIf="Name.errors?.required && Name.touched">Name Is Required</p>

          <div class="form-group">
            <input class="form-control" type="file" accept=".jpg, .png" name="image" (change)="uploadUserImage($event)" #image="ngModel" ngModel required> <br>
            <div class="alert alert-danger" *ngIf="image.errors?.required && image.touched">Image Is Required</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="update()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Add product Modal -->

<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
        <button type="button" class="close" #closeProButton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="addNewProduct(f)">
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="Name" #Name="ngModel" ngModel required>
          </div>
          <div class="alert alert-danger" *ngIf="Name.errors?.required && Name.touched">Name Is Required</div>

          <div class="mb-3">
            <label for="exampleInputBio" class="form-label">Bio</label>
            <input type="text" class="form-control" id="exampleInputBio" name="Bio" #Bio="ngModel" ngModel required>
          </div>
          <div class="alert alert-danger" *ngIf="Bio.errors?.required && Bio.touched">Bio Is Required</div>

          <div class="mb-3">
            <label for="exampleInputPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="exampleInputPrice" name="Price" #Price="ngModel" ngModel required>
          </div>
          <div class="alert alert-danger" *ngIf="Price.errors?.required && Price.touched">Price Is Required</div>

          <div class="mb-3">
            <label for="exampleInputImage" class="form-label">Image</label>
            <input class="form-control" type="file" accept=".jpg, .png" name="Image" (change)="uploadImage($event)" #Image="ngModel" ngModel required> <br>
            <div class="progress" *ngIf="percentage | async as pct">
              <progress class="progress-bar" role="progressbar" [style.width.%]="pct" [value]="pct" aria-valuemin="0" aria-valuemax="100"><span>100%</span></progress>
          </div>
          </div>
          <div class="alert alert-danger" *ngIf="Image.errors?.required && Image.touched">Image Is Required</div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="category">Categories</label>
            <select class="form-select form-control" id="category" name="categoryId" #categoryId="ngModel" ngModel required>
              <ng-container *ngFor="let category of allCategories">
                <option [value]="category.catID">{{category.Name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="categoryId.errors?.required && categoryId.touched">category name Is Required</div>

          <div class="modal-footer">
            <button type="button" type="submit" class="btn btn-primary" [disabled]="f.invalid">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Update product Modal -->

<div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="updateProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateProductModalLabel">Update {{product.Name}} Product</h5>
        <button type="button" class="close" #closeUpButton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateF="ngForm" (ngSubmit)="updateProduct(updateF)">
          <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="product.proID">
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="Name" #Name="ngModel" [(ngModel)]="product.Name" required>
          </div>
          <div class="alert alert-danger" *ngIf="Name.errors?.required && Name.touched">Name Is Required</div>

          <div class="mb-3">
            <label for="exampleInputBio" class="form-label">Bio</label>
            <input type="text" class="form-control" id="exampleInputBio" name="Bio" #Bio="ngModel" [(ngModel)]="product.Bio" required>
          </div>
          <div class="alert alert-danger" *ngIf="Bio.errors?.required && Bio.touched">Bio Is Required</div>

          <div class="mb-3">
            <label for="exampleInputPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="exampleInputPrice" name="Price" #Price="ngModel" [(ngModel)]="product.Price" required>
          </div>
          <div class="alert alert-danger" *ngIf="Price.errors?.required && Price.touched">Price Is Required</div>

          <div class="mb-3">
            <label for="exampleInputImage" class="form-label">Image</label>
            <input class="form-control" type="file" accept=".jpg, .png" name="Image" (change)="uploadImage($event)" #Image="ngModel" ngModel > <br>
            <div class="progress" *ngIf="percentage | async as pct">
              <progress class="progress-bar" role="progressbar" [style.width.%]="pct" [value]="pct" aria-valuemin="0" aria-valuemax="100"><span>100%</span></progress>
          </div>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="category">Categories</label>
            <select class="form-select form-control" id="category" name="categoryId" #categoryId="ngModel" [(ngModel)]="product.catID" required>
              <ng-container *ngFor="let category of allCategories">
                <option [value]="category.catID">{{category.Name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="categoryId.errors?.required && categoryId.touched">category name Is Required</div>
          
          <div class="modal-footer">
            <button type="button" type="submit" class="btn btn-primary" [disabled]="updateF.invalid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>