<div class="top-categories">
  <div class="container">
    <h4 class='title'>Top Categories</h4>
    <div class="row">
      <div class="col col-lg-6" *ngFor="let cat of topCats">
        <div class="category-box">
          <img [src]="cat.Image">
          <div class="overlay">
            <div class="content">
              <h4>{{cat.Name}}</h4>
              <p>{{cat.Bio}}</p>
              <a class="btn btn-warning" [routerLink]="['/category', cat.Name]">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

