@import "~src/assets/custom/_variables";

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none;
}

.products {
  margin: 50px 0;
  .title {
    margin: 30px 0;
    a {
      font-size: 14px;
    }
  }
  .product {
    @media screen and (max-width: $medium) {
      margin: 10px 0;
    }
    .card {
      height: 350px;
      border: 1px solid #eee;
      box-shadow: 2px 4px 8px #eee;
    }
    img {
      max-width: 180px;
      height: 130px;
      display: block;
      margin: 20px auto;
    }
    .content {
      padding: 15px;
      margin-top: 20px;
      .catgeory-name {
        color: #a98787;
        font-size: 14px;
      }
      .product-name {
        color: #2d2424;
        font-weight: 500;
        margin: 0;
        font-size: 17px;
      }
      .price {
        margin: 5px 0 10px;
        color: #e41515;
        font-weight: 600;
      }
      button {
        background-color: $fontColor;
        border: none;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
